In [19]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
df=pd.read_csv("/kaggle/input/100000-diabetes-clinical-dataset/diabetes_dataset.csv")

In [4]:
df.isnull().sum()

year                    0
gender                  0
age                     0
location                0
race:AfricanAmerican    0
race:Asian              0
race:Caucasian          0
race:Hispanic           0
race:Other              0
hypertension            0
heart_disease           0
smoking_history         0
bmi                     0
hbA1c_level             0
blood_glucose_level     0
diabetes                0
dtype: int64

In [7]:
df.head(3)

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0

In [9]:
one_hot=OneHotEncoder(sparse_output=False)
one=one_hot.fit_transform(df[["gender","location","smoking_history"]])
one=pd.DataFrame(one,columns=one_hot.get_feature_names_out())
# one

In [12]:
concaty=pd.concat([df,one],axis=1).drop(columns=["gender","location","smoking_history","diabetes"])

In [13]:
concaty

,year,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,bmi,...,location_Washington,location_West Virginia,location_Wisconsin,location_Wyoming,smoking_history_No Info,smoking_history_current,smoking_history_ever,smoking_history_former,smoking_history_never,smoking_history_not current
0,2020,32.0,0,0,0,0,1,0,0,27.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2015,29.0,0,1,0,0,0,0,0,19.95,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,2015,18.0,0,0,0,0,1,0,0,23.76,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,2015,41.0,0,0,1,0,0,0,0,27.32,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,2016,52.0,1,0,0,0,0,0,0,23.75,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2018,33.0,0,0,0,0,1,0,0,21.21,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
99996,2016,80.0,0,1,0,0,0,0,0,36.66,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
99997,2018,46.0,0,1,0,0,0,0,0,36.12,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
99998,2018,51.0,1,0,0,0,0,0,0,29.29,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
99999,2016,13.0,0,0,0,1,0,0,0,17.16,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0

In [20]:
X_train,X_test,Y_train,Y_test=train_test_split(concaty,df["diabetes"],test_size=0.2,random_state=42)

In [21]:
random_classif=RandomForestClassifier()
random_classif.fit(X_train,Y_train)
random_classif.score(X_test,Y_test)

0.97185

In [22]:
log_classif=LogisticRegression()
log_classif.fit(X_train,Y_train)
log_classif.score(X_test,Y_test)

/opt/conda/lib/python3.10/site-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.96105