In [2]:
import pandas as pd
import re
import nltk
from nltk.corpus import stopwords
from sklearn.preprocessing import OneHotEncoder,LabelEncoder
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
nltk.download("punkt")
nltk.download("stopwords")

[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /usr/share/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [3]:
df=pd.read_csv("/kaggle/input/fashion-nova-reviews/fashionnova_reviews.csv",nrows=50000)
df=df.drop(columns=["Reviewer Name","Profile Link","Review Date","Date of Experience"])

In [4]:
df=df.fillna("nil")
df

,Country,Review Count,Rating,Review Title,Review Text
0,US,1 review,Rated 5 out of 5 stars,I love ordering from fashion nova,I love ordering from fashion nova. The clothes...
1,VG,3 reviews,Rated 5 out of 5 stars,Top tier content for fashion nova,Always amazing clothes and the fast shipping i...
2,US,3 reviews,Rated 5 out of 5 stars,Prices and quality of products are…,Prices and quality of products are GREAT Would...
3,US,1 review,Rated 5 out of 5 stars,Great customer service,Great customer service. I was helped until the...
4,US,5 reviews,Rated 3 out of 5 stars,False advertising,Disappointing experience. You don’t live up to...
...,...,...,...,...,...
49995,US,3 reviews,Rated 5 out of 5 stars,Easy pezy!,Easy pezy! 😊 thank you
49996,US,1 review,Rated 5 out of 5 stars,Easy way to check out!,Review text not found
49997,US,1 review,Rated 5 out of 5 stars,Great selection of clothes,It was an overall easy experience to shop. Thi...
49998,US,1 review,Rated 5 out of 5 stars,good,good good good good
49999,US,1 review,Rated 5 out of 5 stars,Great,Great outfits

In [5]:
def text_removing(text):

    data_re=re.sub(r'\D+',' ',text)
    return data_re
def text_preprocessing(text):
    data=text.lower()
    data_re=re.sub(r'\W+',' ',data)
    word_data_re=word_tokenize(data_re)
    tokens=[word for word in word_data_re if word not in stopwords.words("english")]
    return "  ".join(tokens)

In [6]:
df["Review Count"]=df["Review Count"].apply(text_removing)
df["Rating"]=df["Rating"].apply(text_removing)

In [7]:
df["Review Title"]=df["Review Title"].apply(text_preprocessing)

In [8]:
df["Review Text"]=df["Review Text"].apply(text_preprocessing)

In [9]:
df["Country"]

0        US
1        VG
2        US
3        US
4        US
         ..
49995    US
49996    US
49997    US
49998    US
49999    US
Name: Country, Length: 50000, dtype: object

In [10]:
df.sample()

      Country Review Count Rating Review Title    Review Text
44578      US           1    4 5          nice  nice  outfits

In [11]:
# df[['rating1', 'rating2']] = df['Rating'].str

In [12]:
df

,Country,Review Count,Rating,Review Title,Review Text
0,US,1,5 5,love ordering fashion nova,love ordering fashion nova clothes good ...
1,VG,3,5 5,top tier content fashion nova,always amazing clothes fast shipping real...
2,US,3,5 5,prices quality products,prices quality products great would love ...
3,US,1,5 5,great customer service,great customer service helped fashion nov...
4,US,5,3 5,false advertising,disappointing experience live advertising ...
...,...,...,...,...,...
49995,US,3,5 5,easy pezy,easy pezy thank
49996,US,1,5 5,easy way check,review text found
49997,US,1,5 5,great selection clothes,overall easy experience shop first time ...
49998,US,1,5 5,good,good good good good
49999,US,1,5 5,great,great outfits

In [13]:
one_hot=OneHotEncoder(sparse_output=False)
one=one_hot.fit_transform(df[["Country"]])
one=pd.DataFrame(one,columns=one_hot.get_feature_names_out())

In [14]:
tfid=TfidfVectorizer()
rtext=tfid.fit_transform(df["Review Text"])
rtext=rtext.toarray()
rtext=pd.DataFrame(rtext,columns=tfid.get_feature_names_out())
# rtitle=tfid.fit_transform(df[["Review Title"]])
# rtitle=pd.DataFrame(rtitle,columns=tfid.get_feature_names_out())
tfid2=TfidfVectorizer()
rtext2=tfid2.fit_transform(df["Review Title"])
rtext2=rtext2.toarray()
rtext2=pd.DataFrame(rtext2,columns=tfid2.get_feature_names_out())

In [15]:
rtext

,00,000,01,01pm,02,03,04,05,05pm,06,...,zone,zoom,zs,ztey,zulu,ìn,ítem,ón,ĺove,ŵẁwwŵweeeeedddddffff
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
rtext2

,00,000,0000000000,01,05,09,0n,10,100,1000,...,𝕖𝕒𝕤𝕪,𝕗𝕚𝕟𝕕,𝕥𝕠,𝕧𝕖𝕣𝕪,𝕨𝕒𝕟𝕥𝕖𝕕,𝕨𝕒𝕤,𝕨𝕙𝕒𝕥,𝙰𝚠𝚎𝚜𝚘𝚖𝚎,𝚏𝚊𝚋𝚞𝚕𝚘𝚞𝚜,𝚏𝚊𝚗𝚝𝚊𝚜𝚝𝚒𝚌
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
concaty=pd.concat([one,rtext,rtext2],axis=1)

In [18]:
concaty.columns=[i for i,_ in enumerate(concaty.columns)]

In [19]:
concaty

,0,1,2,3,4,5,6,7,8,9,...,17903,17904,17905,17906,17907,17908,17909,17910,17911,17912
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49999,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
Y=df["Review Count"]
# X=Concaty

In [21]:
X_train,X_test,Y_train,Y_test=train_test_split(concaty,Y,test_size=0.2,random_state=42)

In [22]:
random_classif=RandomForestClassifier()
random_classif.fit(X_train,Y_train)
random_classif.score(X_test,Y_test)

0.6342

In [ ]:
grad_classif=GradientBoostingClassifier()
grad_classif.fit(X_train,Y_train)
grad_classif.score(X_test,Y_test)