<a href="https://colab.research.google.com/github/Murad460/Data_Science_Projects/blob/main/financial_inclusion_in_africa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [168]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [169]:
df=pd.read_csv("/content/Train.csv")

In [170]:
df["country"].unique()

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [171]:
df.nunique()

country                      4
year                         3
uniqueid                  8735
bank_account                 2
location_type                2
cellphone_access             2
household_size              20
age_of_respondent           85
gender_of_respondent         2
relationship_with_head       6
marital_status               5
education_level              6
job_type                    10
dtype: int64

In [172]:
X=df.drop(columns=["uniqueid","bank_account"]).sample(frac=1,random_state=42)
Y=df["bank_account"].sample(frac=1,random_state=42)

In [173]:
X["country"].unique()

array(['Rwanda', 'Tanzania', 'Kenya', 'Uganda'], dtype=object)

In [174]:
train_encoders = [] # Dictionary to store LabelEncoders for each column
for col in X.columns:
    encoder = LabelEncoder()
    X[col] = encoder.fit_transform(X[col])  # Transform each column in-place
    train_encoders.append(encoder)

In [175]:
train_encoders

[LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder()]

In [176]:
label_encoder=LabelEncoder()
Y=label_encoder.fit_transform(Y)

In [177]:
Y

array([0, 0, 0, ..., 1, 1, 0])

In [178]:
random_forest=RandomForestClassifier()
random_forest.fit(X,Y)
random_forest.score(X,Y)

0.9780224451623873

# Test data

In [179]:
test_df=pd.read_csv("/content/Test.csv")

In [180]:
test_data=test_df.drop(columns=["uniqueid"]).sample(frac=1,random_state=42)
test_data["country"].unique()

array(['Rwanda', 'Tanzania', 'Uganda', 'Kenya'], dtype=object)

In [181]:
test_df["country"].unique()

array(['Kenya', 'Rwanda', 'Tanzania', 'Uganda'], dtype=object)

In [182]:
# for i in test_df.columns:

#   test_df[i]=train_encoder.transform(test_df[i])

In [183]:
for i,c in enumerate(test_data.columns):
  encoder=train_encoders[i]
  test_data[c]=encoder.transform(test_data[c])
test_data

,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
4657,1,0,0,1,2,20,1,1,2,2,1
7770,2,1,0,1,0,4,0,2,0,4,8
3787,1,0,0,1,3,12,1,1,2,2,5
8108,2,1,0,1,2,11,1,1,3,2,9
9619,3,2,1,0,5,6,0,3,3,2,7
...,...,...,...,...,...,...,...,...,...,...,...
5734,1,0,1,1,5,23,0,5,2,2,1
5191,1,0,0,1,6,2,1,0,3,3,8
5390,1,0,0,0,1,10,0,5,2,2,5
860,0,2,1,1,2,14,0,1,2,3,9
7270,2,1,1,1,3,35,1,1,3,2,9

In [184]:
 predict=random_forest.predict(test_data)

In [185]:
df_pred=pd.DataFrame(predict)

In [191]:
test_data

,country,year,location_type,cellphone_access,household_size,age_of_respondent,gender_of_respondent,relationship_with_head,marital_status,education_level,job_type
4657,1,0,0,1,2,20,1,1,2,2,1
7770,2,1,0,1,0,4,0,2,0,4,8
3787,1,0,0,1,3,12,1,1,2,2,5
8108,2,1,0,1,2,11,1,1,3,2,9
9619,3,2,1,0,5,6,0,3,3,2,7
...,...,...,...,...,...,...,...,...,...,...,...
5734,1,0,1,1,5,23,0,5,2,2,1
5191,1,0,0,1,6,2,1,0,3,3,8
5390,1,0,0,0,1,10,0,5,2,2,5
860,0,2,1,1,2,14,0,1,2,3,9
7270,2,1,1,1,3,35,1,1,3,2,9

In [193]:
# for i,c in enumerate(test_data):
encoder=train_encoders[0]
df_pred["country"]=encoder.inverse_transform(test_data["country"])

In [196]:
df_pred["Bank"]=df_pred[0]

In [198]:
df_pred=df_pred.drop(columns=[0])
df_pred

        country  Bank
0        Rwanda     0
1      Tanzania     0
2        Rwanda     0
3      Tanzania     0
4        Uganda     0
...         ...   ...
10081    Rwanda     0
10082    Rwanda     0
10083    Rwanda     0
10084     Kenya     0
10085  Tanzania     0

[10086 rows x 2 columns]

In [199]:
df_pred.to_csv("submission.csv")