In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor,GradientBoostingRegressor

In [18]:
df=pd.read_csv("/kaggle/input/house-price-prediction-dataset/House Price Prediction Dataset.csv")

In [19]:
df.isnull().sum()

Id           0
Area         0
Bedrooms     0
Bathrooms    0
Floors       0
YearBuilt    0
Location     0
Condition    0
Garage       0
Price        0
dtype: int64

In [20]:
new_df=pd.get_dummies(df)
new_df

,Id,Area,Bedrooms,Bathrooms,Floors,YearBuilt,Price,Location_Downtown,Location_Rural,Location_Suburban,Location_Urban,Condition_Excellent,Condition_Fair,Condition_Good,Condition_Poor,Garage_No,Garage_Yes
0,1,1360,5,4,3,1970,149919,True,False,False,False,True,False,False,False,True,False
1,2,4272,5,4,3,1958,424998,True,False,False,False,True,False,False,False,True,False
2,3,3592,2,2,3,1938,266746,True,False,False,False,False,False,True,False,True,False
3,4,966,4,2,2,1902,244020,False,False,True,False,False,True,False,False,False,True
4,5,4926,1,4,2,1975,636056,True,False,False,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,4994,5,4,3,1923,295620,False,False,True,False,False,False,False,True,True,False
1996,1997,3046,5,2,1,2019,580929,False,False,True,False,False,False,False,True,False,True
1997,1998,1062,5,1,2,1903,476925,False,True,False,False,False,False,False,True,True,False
1998,1999,4062,3,1,2,1936,161119,False,False,False,True,True,False,False,False,False,True
1999,2000,2989,5,1,3,1903,482525,False,False,True,False,False,True,False,False,True,False

In [21]:
X=new_df.drop(columns=["Price"])
Y=new_df["Price"]

In [22]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.1,random_state=42)

In [23]:
lin_reg=LinearRegression()
lin_reg.fit(X_train,Y_train)
lin_reg.score(X_test,Y_test)

-0.009623635640116479

In [24]:
rand_reg=RandomForestRegressor()
rand_reg.fit(X_train,Y_train)
rand_reg.score(X_test,Y_test)

-0.08036963461859692

In [26]:
grad_reg=GradientBoostingRegressor()
grad_reg.fit(X_train,Y_train)
grad_reg.score(X_test,Y_test)

-0.05551400594382794