In [30]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
import re
import nltk
from nltk.tokenize import word_tokenize
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords 
nltk.download("punkt")
nltk.download("stopwords")

[nltk_data] Downloading package punkt to /usr/share/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /usr/share/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
df=pd.read_csv("/kaggle/input/imdb-top-1000-tv-series/data.csv")

In [3]:
df.nunique()

id               1000
title             980
genres            186
averageRating      17
numVotes          995
releaseYear        66
dtype: int64

In [4]:
df

,id,title,genres,averageRating,numVotes,releaseYear
0,tt0903747,Breaking Bad,"Crime, Drama, Thriller",9.5,2222284,2008
1,tt5491994,Planet Earth II,Documentary,9.5,161331,2016
2,tt0185906,Band of Brothers,"Drama, History, War",9.4,543090,2001
3,tt0795176,Planet Earth,"Documentary, Family",9.4,222856,2006
4,tt5152226,Tree of Life,Drama,9.4,11606,2014
...,...,...,...,...,...,...
995,tt5368542,The Exorcist,"Drama, Horror, Mystery",7.9,32310,2016
996,tt11379026,Ghosts,"Comedy, Fantasy",7.9,32229,2021
997,tt14824792,Ted,Comedy,7.9,31485,2024
998,tt2262532,The Fosters,"Drama, Romance",7.9,31294,2013
999,tt1985443,Hatfields & McCoys,"Drama, History, Romance",7.9,29894,2012

In [5]:
df["genres"]=df['genres'].str.split(',')

In [6]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()
genre_encoded = mlb.fit_transform(df['genres'])

In [7]:
genre_encoded

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [8]:
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_)
genre_df

,Adventure,Animation,Biography,Comedy,Crime,Documentary,Drama,Family,Fantasy,Game-Show,...,Animation,Biography,Comedy,Crime,Documentary,Drama,Fantasy,Game-Show,Reality-TV,Thriller
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
996,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [10]:
def text_preprocess(text):
    data=text.lower()
    data_re=re.sub(r"\W+"," ",data)
    data_word_tokenize=word_tokenize(data_re)
    token=[word for word in data_word_tokenize if word not in stopwords.words("english")]
    return " ".join(token)

In [13]:
df["title"]=df["title"].apply(text_preprocess)

In [15]:
df.sample()

,id,title,genres,averageRating,numVotes,releaseYear
669,tt0103352,afraid dark,"[Drama, Fantasy, Horror]",8.2,16575,1990

In [17]:
def text_vectorizer(text):
    vectorizer=CountVectorizer()
    vect=vectorizer.fit_transform(text)
    return pd.DataFrame(vect.toarray(),columns=vectorizer.get_feature_names_out())

In [18]:
dd=text_vectorizer(df["title"])

In [19]:
dd

,100,10th,11,1883,1923,1988,1992,2003,22,24,...,yuddh,yuhs,yuri,zero,zerozerozero,zim,zodiac,zoey,zone,çilgin
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
concaty=pd.concat([df,dd,genre_df],axis=1).drop(columns=["title","genres","id"])

In [21]:
concaty

,averageRating,numVotes,releaseYear,100,10th,11,1883,1923,1988,1992,...,Animation,Biography,Comedy,Crime,Documentary,Drama,Fantasy,Game-Show,Reality-TV,Thriller
0,9.5,2222284,2008,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
1,9.5,161331,2016,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,9.4,543090,2001,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,9.4,222856,2006,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,9.4,11606,2014,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,7.9,32310,2016,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
996,7.9,32229,2021,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
997,7.9,31485,2024,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
998,7.9,31294,2013,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
999,7.9,29894,2012,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [23]:
df["averageRating"].nunique()

17

In [28]:
X=concaty.drop(columns=["averageRating"])
Y=concaty["averageRating"]

In [31]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [37]:
Y_train

29     9.1
535    8.3
695    8.2
557    8.3
836    8.0
      ...
106    8.8
270    8.5
860    8.0
435    8.4
102    8.8
Name: averageRating, Length: 800, dtype: float64

# # Machine Learning

In [38]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier,RandomForestRegressor
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor

In [40]:
models=[RandomForestRegressor(),DecisionTreeRegressor(),KNeighborsRegressor()]
for mod in models:
    model=mod
    model.fit(X_train,Y_train)
    print(f"The accuracy of {mod} is ",model.score(X_test,Y_test))

The accuracy of RandomForestRegressor() is  0.06773845498060282
The accuracy of DecisionTreeRegressor() is  -0.4606903255058794
The accuracy of KNeighborsRegressor() is  -0.1799119784751797