In [108]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder,LabelEncoder,OrdinalEncoder
import seaborn as sns

In [79]:
df=pd.read_csv("/kaggle/input/test-file/tested.csv")

In [3]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [9]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [4]:
df.nunique()

PassengerId    418
Survived         2
Pclass           3
Name           418
Sex              2
Age             79
SibSp            7
Parch            8
Ticket         363
Fare           169
Cabin           76
Embarked         3
dtype: int64

In [49]:
one_hot=OneHotEncoder()
label_encod=LabelEncoder()

In [55]:
pre_label_encod2

array([76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 12, 76, 60, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 15, 76, 10, 76,  2, 76, 76, 76, 76, 76,
       41, 76, 76, 76, 76, 76, 76, 55, 76, 76, 50, 76,  5, 76, 49, 76, 30,
       76, 76, 28, 76, 76, 76, 71, 76, 17, 76, 76, 76, 76, 15, 76, 76, 76,
       35, 28, 76, 76, 76, 59, 25, 26, 76, 21, 76, 76, 76, 37, 76, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 19, 76, 76, 76, 33, 76, 76, 76, 24, 76,
       76, 76, 76, 76, 76, 76, 76, 68, 76, 76,  3, 76, 37, 76, 76, 75, 38,
       76, 76, 76, 29, 76, 76, 76, 76, 76, 76, 76, 76, 34, 76, 76, 76, 76,
       76, 76, 76, 76, 76, 76, 15, 76, 76, 76, 64, 76, 76, 76, 36, 76, 76,
       76, 76, 76, 46, 76, 52, 76, 76, 76, 76, 76, 76, 76,  6, 76, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 24, 74, 63, 76, 66, 54, 76, 16, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 76, 76, 61, 76, 76, 76, 76, 76, 39, 76,
       76, 76, 76, 76,  0, 76, 76, 76, 76, 76, 76,  7, 76, 76, 42, 76, 76,
       76, 73, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 43, 76, 56, 76,
       76, 44, 76, 76, 61, 76, 76, 51, 76, 76, 76, 76, 76, 76, 45, 76, 76,
       76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 38, 76,
       45, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 12, 69,
       76, 76, 76, 76,  4, 76, 76, 76, 76, 76, 76, 76, 47, 76, 76, 76,  9,
       27, 76, 18, 76, 76, 76, 76, 76, 31, 76, 20, 76, 76, 76, 76, 70, 72,
       76, 76, 76, 74, 76, 76, 76, 76,  1, 76, 76, 76, 23, 76, 76, 76, 76,
       76, 76, 76, 13, 76, 76, 76, 76, 76, 76, 48, 76, 76, 76, 76, 67, 21,
       76, 76, 76, 76, 76, 76, 76, 65, 76, 76, 76, 76, 76, 76, 62, 14, 76,
        4, 76, 76, 76, 32, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76, 76,  8,
       53, 76, 76, 76, 30, 76, 11, 76, 76, 40, 76, 76, 76, 58, 57, 76, 42,
       76, 76, 76, 41, 76, 76, 22, 76, 76, 76])

In [70]:
df["Cabin"].describe()

/opt/conda/lib/python3.10/site-packages/pandas/core/algorithms.py:927: SparseEfficiencyWarning: Comparing sparse matrices using == is inefficient, try using != instead.
  keys, counts, _ = value_counts_arraylike(values, dropna)

count               418
unique              418
top         (0, 1)\t1.0
freq                  1
Name: Cabin, dtype: object

In [59]:
df["Ticket"].describe()

count    418.000000
mean     180.944976
std      107.533763
min        0.000000
25%       85.250000
50%      181.000000
75%      279.750000
max      362.000000
Name: Ticket, dtype: float64

In [57]:
df["Cabin"]=pre_label_encod2
df["Ticket"]=pre_label_encod

In [58]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James","(0, 1)\t1.0",34.5,0,0,152,7.8292,76,"(0, 1)\t1.0"
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)","(0, 0)\t1.0",47.0,1,0,221,7.0000,76,"(0, 0)\t1.0"
2,894,0,2,"Myles, Mr. Thomas Francis","(0, 1)\t1.0",62.0,0,0,73,9.6875,76,"(0, 1)\t1.0"
3,895,0,3,"Wirz, Mr. Albert","(0, 1)\t1.0",27.0,0,0,147,8.6625,76,"(0, 1)\t1.0"
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)","(0, 0)\t1.0",22.0,1,1,138,12.2875,76,"(0, 0)\t1.0"
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf","(0, 1)\t1.0",NaN,0,0,267,8.0500,76,"(0, 1)\t1.0"
414,1306,1,1,"Oliva y Ocana, Dona. Fermina","(0, 0)\t1.0",39.0,0,0,324,108.9000,22,"(0, 0)\t1.0"
415,1307,0,3,"Saether, Mr. Simon Sivertsen","(0, 1)\t1.0",38.5,0,0,346,7.2500,76,"(0, 1)\t1.0"
416,1308,0,3,"Ware, Mr. Frederick","(0, 1)\t1.0",NaN,0,0,220,8.0500,76,"(0, 1)\t1.0"
417,1309,0,3,"Peter, Master. Michael J","(0, 1)\t1.0",NaN,1,1,105,22.3583,76,"(0, 1)\t1.0"

In [80]:
pre_one_hot=one_hot.fit_transform(df[["Sex"]])
# pre_one_hot.np.asarray()
pre_one_hot2=one_hot.fit_transform(df[["Embarked"]])
pre_one_hot3=one_hot.fit_transform(df[["Ticket"]])
pre_one_hot4=one_hot.fit_transform(df[["Cabin"]])
pre_one_hot5=one_hot.fit_transform(df[["Name"]])
pre_one_hot6=one_hot.fit_transform(df[["PassengerId"]])

In [66]:
pre_one_hot

<418x2 sparse matrix of type '<class 'numpy.float64'>'
	with 418 stored elements in Compressed Sparse Row format>

In [81]:
df_pre_one_hot=pd.DataFrame(pre_one_hot,columns=["Sex"])
df_pre_one_hot2=pd.DataFrame(pre_one_hot,columns=["Embarked"])
df_pre_one_hot3=pd.DataFrame(pre_one_hot,columns=["Ticket"])
df_pre_one_hot4=pd.DataFrame(pre_one_hot,columns=["Cabin"])
df_pre_one_hot5=pd.DataFrame(pre_one_hot,columns=["Name"])
df_pre_one_hot6=pd.DataFrame(pre_one_hot,columns=["PassengerId"])
df["Sex"]=df_pre_one_hot
df["Embarked"]=df_pre_one_hot2
df["Ticket"]=df_pre_one_hot3
df["Cabin"]=df_pre_one_hot4
df["Name"]=df_pre_one_hot5
df["PassengerId"]=df_pre_one_hot6

In [104]:
fare=df[["Fare"]]
# df["Fare"]=np.stype(int)
fare1=np.asarray(fare)
fare2=fare1.astype(np.uint64)
df["Fare"]=pd.DataFrame(fare2,columns=["Fare"])

In [105]:
df["Fare"]

0        7
1        7
2        9
3        8
4       12
      ...
413      8
414    108
415      7
416      8
417     22
Name: Fare, Length: 418, dtype: uint64

In [76]:
df["Sex"].dtypes

dtype('O')

In [106]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"(0, 1)\t1.0",0,3,"(0, 1)\t1.0","(0, 1)\t1.0",34.5,0,0,"(0, 1)\t1.0",7,"(0, 1)\t1.0","(0, 1)\t1.0"
1,"(0, 0)\t1.0",1,3,"(0, 0)\t1.0","(0, 0)\t1.0",47.0,1,0,"(0, 0)\t1.0",7,"(0, 0)\t1.0","(0, 0)\t1.0"
2,"(0, 1)\t1.0",0,2,"(0, 1)\t1.0","(0, 1)\t1.0",62.0,0,0,"(0, 1)\t1.0",9,"(0, 1)\t1.0","(0, 1)\t1.0"
3,"(0, 1)\t1.0",0,3,"(0, 1)\t1.0","(0, 1)\t1.0",27.0,0,0,"(0, 1)\t1.0",8,"(0, 1)\t1.0","(0, 1)\t1.0"
4,"(0, 0)\t1.0",1,3,"(0, 0)\t1.0","(0, 0)\t1.0",22.0,1,1,"(0, 0)\t1.0",12,"(0, 0)\t1.0","(0, 0)\t1.0"
...,...,...,...,...,...,...,...,...,...,...,...,...
413,"(0, 1)\t1.0",0,3,"(0, 1)\t1.0","(0, 1)\t1.0",NaN,0,0,"(0, 1)\t1.0",8,"(0, 1)\t1.0","(0, 1)\t1.0"
414,"(0, 0)\t1.0",1,1,"(0, 0)\t1.0","(0, 0)\t1.0",39.0,0,0,"(0, 0)\t1.0",108,"(0, 0)\t1.0","(0, 0)\t1.0"
415,"(0, 1)\t1.0",0,3,"(0, 1)\t1.0","(0, 1)\t1.0",38.5,0,0,"(0, 1)\t1.0",7,"(0, 1)\t1.0","(0, 1)\t1.0"
416,"(0, 1)\t1.0",0,3,"(0, 1)\t1.0","(0, 1)\t1.0",NaN,0,0,"(0, 1)\t1.0",8,"(0, 1)\t1.0","(0, 1)\t1.0"
417,"(0, 1)\t1.0",0,3,"(0, 1)\t1.0","(0, 1)\t1.0",NaN,1,1,"(0, 1)\t1.0",22,"(0, 1)\t1.0","(0, 1)\t1.0"

In [101]:
df.dtypes

PassengerId     object
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare            uint64
Cabin           object
Embarked        object
dtype: object

In [107]:
df.corr()

ValueError: setting an array element with a sequence.

In [112]:
plt.spy(df.any(), markersize=10)
plt.show()

ValueError: setting an array element with a sequence.

In [109]:
sns.pairplot(df)

/opt/conda/lib/python3.10/site-packages/numpy/lib/arraysetops.py:890: SparseEfficiencyWarning: Comparing a sparse matrix with 0 using == is inefficient, try using != instead.
  return in1d(element, test_elements, assume_unique=assume_unique,

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all().

In [116]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx

# Assuming 'sparse_matrix' is your sparse matrix stored in a DataFrame
# Convert it to a numpy array
sparse_array = fare.values

# Convert the sparse array to a NetworkX graph
G = nx.from_scipy_sparse_matrix(sparse_array)

# Plot the graph using NetworkX and Matplotlib
plt.figure(figsize=(8, 6))
nx.draw(G, with_labels=True, node_size=200, node_color='skyblue', font_size=10)
plt.title('Sparse Matrix Graph')
plt.show()

AttributeError: module 'networkx' has no attribute 'from_scipy_sparse_matrix'

In [124]:
sns.heatmap(df)

ValueError: setting an array element with a sequence.

In [128]:
sns.heatmap(df["Sex"])

IndexError: Inconsistent shape between the condition and the input (got (418, 1) and (418,))