In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder

In [27]:
df=pd.read_csv("/kaggle/input/weight-training/strong.csv")

In [28]:
df.nunique()

Date             249
Workout Name      11
Duration          56
Exercise Name     46
Set Order          6
Weight            83
Reps              25
Distance           1
Seconds            2
Notes             20
Workout Notes      5
RPE                9
dtype: int64

In [29]:
df["Seconds"].unique()

array([  0, 300])

In [30]:
df.isnull().sum()

Date                0
Workout Name        0
Duration            0
Exercise Name       0
Set Order           0
Weight              0
Reps                0
Distance            0
Seconds             0
Notes            3954
Workout Notes    3771
RPE               222
dtype: int64

In [31]:
df['RPE'].fillna(df['RPE'].mode()[0], inplace=True)

/tmp/ipykernel_32/3696678390.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['RPE'].fillna(df['RPE'].mode()[0], inplace=True)

In [32]:
df.isnull().sum()

Date                0
Workout Name        0
Duration            0
Exercise Name       0
Set Order           0
Weight              0
Reps                0
Distance            0
Seconds             0
Notes            3954
Workout Notes    3771
RPE                 0
dtype: int64

In [33]:
new_df=df.drop(columns=["Date","Notes","Workout Notes"])

# # one hot ecoder

In [34]:
one_hot=OneHotEncoder(sparse=False)
one=one_hot.fit_transform(new_df[["Workout Name","Exercise Name"]])
one=pd.DataFrame(one,columns=one_hot.get_feature_names_out())

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [35]:
new_df

,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,RPE
0,PUSH 1,1h 12m,Bench Press (Barbell),1,35.00,10,0,0,9.0
1,PUSH 1,1h 12m,Bench Press (Barbell),2,35.00,9,0,0,10.0
2,PUSH 1,1h 12m,Bench Press (Barbell),3,35.00,8,0,0,10.0
3,PUSH 1,1h 12m,Bench Press (Barbell),4,35.00,7,0,0,10.0
4,PUSH 1,1h 12m,Incline Cable Chest Fly,1,12.50,12,0,0,9.5
...,...,...,...,...,...,...,...,...,...
3984,PULL 2,30m,Lateral Raise (Dumbbell),4,18.00,3,0,0,10.0
3985,PULL 2,30m,Seated Row (Cable),1,41.25,12,0,0,9.5
3986,PULL 2,30m,Seated Row (Cable),2,41.25,8,0,0,10.0
3987,PULL 2,30m,Seated Row (Cable),3,41.25,5,0,0,10.0
3988,PULL 2,30m,Seated Row (Cable),4,41.25,4,0,0,10.0

In [36]:
new_df["Duration"]=pd.to_timedelta(new_df["Duration"])
new_df["Duration_time"]=new_df["Duration"].dt.total_seconds()
# new_df=new_df.drop(columns=["""Exercise Name"])
new_df

,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,RPE,Duration_time
0,PUSH 1,0 days 01:12:00,Bench Press (Barbell),1,35.00,10,0,0,9.0,4320.0
1,PUSH 1,0 days 01:12:00,Bench Press (Barbell),2,35.00,9,0,0,10.0,4320.0
2,PUSH 1,0 days 01:12:00,Bench Press (Barbell),3,35.00,8,0,0,10.0,4320.0
3,PUSH 1,0 days 01:12:00,Bench Press (Barbell),4,35.00,7,0,0,10.0,4320.0
4,PUSH 1,0 days 01:12:00,Incline Cable Chest Fly,1,12.50,12,0,0,9.5,4320.0
...,...,...,...,...,...,...,...,...,...,...
3984,PULL 2,0 days 00:30:00,Lateral Raise (Dumbbell),4,18.00,3,0,0,10.0,1800.0
3985,PULL 2,0 days 00:30:00,Seated Row (Cable),1,41.25,12,0,0,9.5,1800.0
3986,PULL 2,0 days 00:30:00,Seated Row (Cable),2,41.25,8,0,0,10.0,1800.0
3987,PULL 2,0 days 00:30:00,Seated Row (Cable),3,41.25,5,0,0,10.0,1800.0
3988,PULL 2,0 days 00:30:00,Seated Row (Cable),4,41.25,4,0,0,10.0,1800.0

In [37]:
concaty=pd.concat([new_df,one],axis=1)

In [38]:
X=concaty.drop(columns=["RPE","Workout Name","Duration","Exercise Name","Distance","Seconds"])
Y=concaty[["RPE"]]

In [39]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [40]:
new_df.dtypes
new_df

,Workout Name,Duration,Exercise Name,Set Order,Weight,Reps,Distance,Seconds,RPE,Duration_time
0,PUSH 1,0 days 01:12:00,Bench Press (Barbell),1,35.00,10,0,0,9.0,4320.0
1,PUSH 1,0 days 01:12:00,Bench Press (Barbell),2,35.00,9,0,0,10.0,4320.0
2,PUSH 1,0 days 01:12:00,Bench Press (Barbell),3,35.00,8,0,0,10.0,4320.0
3,PUSH 1,0 days 01:12:00,Bench Press (Barbell),4,35.00,7,0,0,10.0,4320.0
4,PUSH 1,0 days 01:12:00,Incline Cable Chest Fly,1,12.50,12,0,0,9.5,4320.0
...,...,...,...,...,...,...,...,...,...,...
3984,PULL 2,0 days 00:30:00,Lateral Raise (Dumbbell),4,18.00,3,0,0,10.0,1800.0
3985,PULL 2,0 days 00:30:00,Seated Row (Cable),1,41.25,12,0,0,9.5,1800.0
3986,PULL 2,0 days 00:30:00,Seated Row (Cable),2,41.25,8,0,0,10.0,1800.0
3987,PULL 2,0 days 00:30:00,Seated Row (Cable),3,41.25,5,0,0,10.0,1800.0
3988,PULL 2,0 days 00:30:00,Seated Row (Cable),4,41.25,4,0,0,10.0,1800.0

In [41]:
random_reg=RandomForestRegressor()
random_reg.fit(X_train,Y_train)
random_reg.score(X_test,Y_test)

/tmp/ipykernel_32/3579553949.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  random_reg.fit(X_train,Y_train)

0.7050399410530958